.chat{
        /*background-color:#f0f2f5;*/
        background-color:white;
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
        border-radius:10px;
        width:350px;
        /*justify-content: center;*/
        // border:10px solid yellow;
        overflow: scroll;
        height: 100%;
       
        /*border: 2px solid blue;*/
}

.chat-type-box{
    resize:none;
    height:40px;
    // width:90%;;
    border-radius: 15px;
    margin: 5px;
    margin-right: 50x;
    background-color: $background;
    padding: 10px;
    outline: none;
    
    // overflow: scroll;
    
    // border:1px solid red;
}

.chat-box{
    height:100vh;
    // border:1px solid blue;
    // background-color:$background;
    margin: 10px;
    border-radius:10px;
    overflow: scroll;

   
}
.user1-message{
    
    min-height: 40px;
    display: flex;
    flex-direction:column;
   
    padding:5px;
    margin: 5px;
    margin-bottom: 0px;
    align-items:flex-start;
    margin-top:5px;
    
    p{
        background-color:#0CAFFF;
        margin-bottom: 0px;
        // overflow-wrap: break-word;
        padding: 5px;
        border-radius:10px;
        
    }
    h5{
        margin-top: 4px;
        // align-self: flex-end;
        color:rgb(1,1,1,0.5);
        margin-bottom: 0px;
        
    }
    color:white;

}
.chat-bar{
    display:flex;
    flex-direction: column;
    
    height:100%;
}

.chat-type-box-div{
    display:flex;
    flex-direction:column;
}

.user2-message{
    min-height: 40px;
    display: flex;
    flex-direction:column;
    border-radius:10px;
    padding:5px;
    margin: 5px;
    margin-bottom: 0px;
    // justify-content:right;
    align-items:flex-end;
    margin-top:5px;
    p{
        background-color:$background;
        margin-bottom: 0px;
        padding: 5px;
        border-radius:10px;
    }
    h5{
        margin-top: 0px;
        align-self: flex-end;
        color:rgb(1,1,1,0.5);
        margin-bottom: 0px;
    }


   
    
    
    
}

.Chat-message{
    display: flex;
    flex-wrap: wrap;
}