body{
    padding: 0px;
    margin: 0px;
   background-color: #f0f2f5;
   display: flex;
   flex-direction: column;
   /*justify-content: center;*/
   height: 100vh;
   /*border: 2px solid green;*/

   }

// * {
//        outline: 1px solid red !important;
// }

button{
    cursor: pointer;
    // outline: none;
}
input{
    outline: none;
}

::-webkit-scrollbar {
    display: none;
 }


 *{
    font-family: Calibri, Helvetica, sans-serif;
  }
 
  input:hover {
    transition: transform .1s;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }