$background:#f0f2f5;
$button-color:#1877F2;
$fade-color:rgb(1,1,1,0.5);
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$post-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
$shadow-up: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;